{% extends "base.html" %}

{% block content %}

{% if isValidItem %}
  Posted by <a href='profile.php?u={{ s.userId }}'>{{ s.submitterName }}</a> on <span class="time"time="{{ s.timeAdded }}">...</span><br>
  {% if s.reviewState == 'a' %}
  	Accepted by <a href='profile.php?u={{ s.reviewedBy }}'>{{ s.reviewerName }}</a> on <span class="time" time="{{ s.timeReviewed }}">...</span><br>
  {% endif %}
  {% if isLoggedIn and me.admin is not null and me.admin.canReview %}
    {% if s.reviewState != 'a' %}<button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='a' return='{{ lastPage }}'>Accept</button>{% endif %}
    {% if s.reviewState != 'p' %}<button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='p' return='{{ lastPage }}'>Make Pending</button>{% endif %}
    <button class='review' id='deny' code='{{ s.sourceId }}' type='s' state='d' return='{{ lastPage }}'>Deny</button><br/>
  {% endif %}
  This source image is currently <b>{{ s.reviewState == 'p' ? 'pending' : (s.reviewState == 'a' ? 'accepted' : 'denied') }}</b>
  <img class='center' src='resize.php?i={{ s.image|url_encode }}&w=600'>
{% else %}
<h2>Image not found.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="js/review.js"></script>
{% endblock %}